<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    .commit:hover {
      color: red;
    }
    
    .tooltip {
      position: relative;
      display: inline-block;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 140px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -75px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  </style>
  <title>Git Client</title>
</head>
<body>
  <div class="container mt-3">
    <div class="row mb-4">
      <div class="col">
        <div class="card">
          <h1 class="card-header">
            <% if !@diff.nil? %>
              On branch <code><%= @current_branch %></code>
            <% else %>
              <code>git status</code>
            <% end %>
          </h1>

          <div class="card-body">
            <%# if false %>
            <% unless @status.include?("nothing to commit, working tree clean") %>
              <p class="h4 mb-3 text-center">
                You have changes
              </p>
              <% @statuses.each do |status| %>
                <% filelist = status[:file_list].join("\n") %>
                <% if filelist.length > 0 %>
                  <%= status[:name] %>
                  <pre><%= filelist.strip %></pre>
                <% end %>
              <% end %>

              <% if !@diff.nil? %>
                <%= @diff %>
              <% end %>

              <p class="h4 my-3 text-center">
                What do you want to do?
              </p>

              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-header h6">
                      Commit your changes to the current branch
                    </div>

                    <div class="card-body">
                      <form action="/git/commit" method="post">
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input type="text" name="title">
                        </div>
                        <button>Commit</button>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="row mb-2">
                    <div class="col">
                      <div class="card">
                        <div class="card-header h6">
                          Switch to a new branch
                        </div>

                        <div class="card-body">
                          <form action="" class="full-width mb-2">
                            <div class="form-group">
                              <label for="new_branch_name" class="sr-only">Branch name</label>
                              <input type="text" name="new_branch_name" id="new_branch_name" class="form-control" placeholder="Enter a name for the branch to create...">
                            
                            </div>
                            <button class="btn btn-success btn-block">
                              <%# octicon "git-branch", class: "mr-1" %>
                              <i class="fas fa-code-branch"></i>
                              Create a new branch
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-header h6">
                          <a href="/git/stash">
                            Discard your changes
                          </a>
                        </div>

                        <div class="card-body">
                            Discard all changes
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <% else %>

              <div class="row">
                <div class="col">
                  <pre>
                    <%= @status %>
                  </pre>
                  
                  <% if @current_branch != "master" %>
                      Push to GitHub
                  <% else %>
                      Push to GitHub
                  <% end %>

                  Pull from GitHub

                  <p>
                    The last thing you did was:
                  </p>

                </div>

                <div class="col">
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                      New Branch
                    </li>

                    <li class="list-group-item">
                      <form action="/git/checkout" method="post">
                        <input type="text" name="branch_name">
                        <button>
                          Create branch
                        </button>
                      </form>
                    </li>

                    <li class="list-group-item list-group-item-info justify-content-between">
                      Existing branches
                    <% @branches.each do |branch| %>
                      <div class="btn-group">
                        <a href="/git/checkout" class="btn btn-primary btn-sm"> <span><i class="fad fa-repeat"></i></span>  <%= branch %></a>

                        <a href="/git/delete" class="btn btn-warning btn-sm"> <span><i class="far fa-trash-alt"></i></span> <%= branch %></a>
                      </div>
                    <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="card">
          <h2 class="card-header">
            History
          </h2>
          <div class="tooltip">
            <div class="tooltiptext">
            </div>
          </div>
          <code class="bg-dark text-white p-3">
            <% @list.each do |commit| %>
              <% commit_parts = commit.split "\n" %>
              <div>
                <div>
                  <span class="commit">
                    <% first_line = commit_parts.first %>
                    <% sha = first_line.split[1] %>
                    <% copy_sha = '<button class="btn btn-link" id="' + sha + '" onclick="copyToClipboard(' + "'#{sha}'" + ')">' + sha + '</button>' %>
                    <%= first_line.gsub(sha, copy_sha) %>
                    <input type="hidden" class="hidden <%= sha %>" value="<%= sha %>">
                    <!-- * cb351409 - Thu, 19 Mar 2020, 23:59 -0500 (6 days) -->
                  </span>
                </div>
                <%= commit_parts.last.gsub("\t", "&emsp;") %>
              </div>
            <% end %>
          </code>
        </div>
      </div>
    </div>
  </div>
  <script>
  function copyToClipboard(id) {
  /* Get the text field */
    var copyText = document.querySelector("input." + id)
    
    console.log(copyText)
    // .textContent
    /* Select the text field */
    copyText.select();
    // copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    // copyText.value = id
    console.log("||||||")
    console.log(copyText.value)
    document.execCommand("copy");
    var tooltip = document.getElementsByClassName("tooltiptext")[0];
    tooltip.innerHTML = "Copied: " + id;
    /* Alert the copied text */
    // alert("Copied the text: " + copyText.textContent);
  }
  </script>
</body>
</html>
